@import './scss/variables.scss';

@import './scss/slideout.scss';
@import './scss/app.scss';
@import './scss/menu.scss';
@import './scss/panel.scss';

#panel .home-contents
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #555555;
  color: #ffffff;
  text-align: center;
}

#panel .home-contents img
{
  display: block;
  max-width: 60%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.home
{
  overflow: hidden;
}

.home #panel
{
  border: none;
}

.home h1
{
  font-size: 24px;
  font-weight: normal;
}
